.main {
    width: 100%;
    justify-content: space-between;
    display: flex;
    height: 45px;
    border: 1px solid black;
}

.main .mainInput {
    width: 90%;
    height: 100%;
    outline: none;
}
select,.mainInput{
    outline: none;
    border: none;
}